## traefik.toml configuration file
##
## configure your email address
##

[entryPoints]
  [entryPoints.http]
  address = ":80"
  [entryPoints.https]
  address = ":443"
    [entryPoints.https.tls]

[acme]
email = "your@email.address"
storage = "/acme/acme.json"
entryPoint = "https"
onDemand = true
[acme.httpChallenge]
  entryPoint = "http"

## web backend
[web]
address = ":8080"

## configure traefik via separate rules.toml file
[file]
filename = "/etc/traefik/rules.toml"
watch = true

## Docker configuration backend
[docker]
endpoint = "unix:///var/run/docker.sock"
#host = "traefik"
domain = "docker.localhost"
watch = true

